div(id=`editUser-${user._id}`).modal
    div.modal-dialog
        div.modal-content
            span.close(onclick="closeEditModalUser()") &times;
            h2 Chỉnh sửa
            form(class=`edit-form-${user._id}`)
                label Tên
                input(type="text" name="editName" class="form-control" id=`editName-${user._id}`  required)
                label Email
                input(name="editEmail" class="form-control"  id=`editEmail-${user._id}`  )        
                label Số điện thoại
                input(name="editSdt" class="form-control"  id=`editSdt-${user._id}`  )    
                label Giới tính
                input(type="text" name="editGioiTinh" class="form-control"  id=`editGioiTinh-${user._id}` )
                label Khoa
                input(name="editKhoa" class="form-control"  id=`editKhoa-${user._id}` )   
                label.control-label Avatar
                .custom-file
                  input(type="file" class="custom-file-input" id=`photo-${user._id}` name=`photo-${user._id}` )
                  label.custom-file-label(for=`photo-${user._id}`) Chọn file
                .col-lg-12.text-right.justify-content-center.d-flex
                    button.btn.btn-primary(type="button" onclick=`saveEditFormUser('${user._id}')`) Lưu
                    button.btn.btn-secondary(type="button" onclick=`closeEditModalUser('${user._id}')`) Hủy
