extends index

block content
  // Info boxes
  .col-12
    .card
      .card-body
        | Chào mừng !

  .card-body
    table.table.table-hover.table-condensed#list
      colgroup
        col(width="60%")
        col(width="10%")
        col(width="10%")
        
      thead
        tr
          th.text-center Thông báo
          th.text-center Ngày đăng
          th.text-center Hoạt động             
      tbody
        each notify in data
          tr
            td
              p
                b= notify.ThongBao
              p.truncate= notify.NoiDung.split(" ").slice(0, 10).join(" ")
            td.text-center
              b= notify.createdAt.toLocaleDateString()

            td.text-center
              button.btn.btn-default.btn-sm.btn-flat.border-info.wave-effect.text-info.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="true") Hoạt động
                                    
              .dropdown-menu
                a.dropdown-item.view_project(href=`/notify/${notify._id}`) Xem
                .dropdown-divider
                a.dropdown-item(href=`./`) Chỉnh sửa
                .dropdown-divider
                a.dropdown-item.delete_project(href="javascript:void(0)", data-id=notify._id) Xóa

  style.
    table p {
      margin: unset !important;
    }
    table td {
      vertical-align: middle !important;
    }

  script.
    $(document).ready(function(){
      $('#list').dataTable();

      $('.delete_project').click(function(){
        _conf("Are you sure to delete this project?", "delete_project", [$(this).data('id')]);
      });

      function delete_project(id){
        start_load();
        $.ajax({
          url: 'ajax.php?action=delete_project',
          method: 'POST',
          data: {id: id},
          success: function(resp){
            if(resp == 1){
              alert_toast("Data successfully deleted", 'success');
              setTimeout(function(){
                location.reload();
              }, 1500);
            }
          }
        });
      }
    });
