extends index

block content	
  .col-lg-12
    .card.card-outline.card-success
      .card-header
        .card-tools
          a.btn.btn-block.btn-sm.btn-default.btn-flat.border-primary(href="./newuser")
            i.fa.fa-plus
            | Thêm thành viên mới
      .card-body
        table.table.tabe-hover.table-bordered#list
          thead
            tr
              th.text-center #
              th Tên
              th Email
              th Vai trò
              th Hoạt động
          tbody
            each user in users
              tr
                th.text-center
                td
                  b= user.name 
                td
                  b= user.email
                td
                  if user.role == "sinh_vien"
                    b sinh viên
                  else if user.role == "giang_vien"
                    b giảng viên
                  else
                    b= user.role

                td.text-center
                  button.btn.btn-default.btn-sm.btn-flat.border-info.wave-effect.text-info.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="true")                    
                    |  Action

                  .dropdown-menu
                    a.dropdown-item.view_user(href=`./user/${user._id}`) Xem
                    .dropdown-divider
                    button.dropdown-item(type="button", onclick=`editUser('${user._id}')`) Chỉnh sửa
                    .dropdown-divider
                    button.dropdown-item(type="button", onclick=`deleteNotify('${user._id}')`) Xóa
              div#editModal.modal
                div.modal-dialog
                    div.modal-content
                      span.close(onclick="closeEditModal()") &times;
                      h2=user.name
                      form(class=`edit-form-${user._id}`)
                          label Tên
                          input#editName(type="text" name="editName" class="form-control" required)
                          label Email
                          input#editEmail(name="editEmail" class="form-control" required)        
                          label Số điện thoại
                          input#editSdt(name="editSdt" class="form-control" required)    
                          label Giới tính
                          input#editGioiTinh(type="text" name="editGioiTinh" class="form-control" required)
                          label Khoa
                          input#editKhoa(name="editKhoa" class="form-control" required)   
                          .col-lg-12.text-right.justify-content-center.d-flex
                              button.btn.btn-primary(type="button" onclick=`saveEditForm('${user._id}')`) Lưu
                              button.btn.btn-secondary(type="button" onclick="closeEditModal()") Hủy
  script.
    $(document).ready(function(){
      $('#list').dataTable()
      $('.view_user').click(function(){
        uni_modal("<i class='fa fa-id-card'></i> User Details","view_user.php?id="+$(this).attr('data-id'))
      })
      $('.delete_user').click(function(){
        _conf("Are you sure to delete this user?","delete_user",[$(this).attr('data-id')])
      })
    })


